body.single {
	background:#f5f5f5;
	height:auto;
	min-height:inherit;
}
.single-page-body {
	font-family:yekan, Arial, Helvetica, sans-serif;
	background:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
	text-align:right;
	direction:rtl;
	clear:both;
	margin:140px 10px 10px 10px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.single-page-body.PROJECT2-page {
}
.PROJECT2-page .page-title {
	font-family:yekan, Arial, Helvetica, sans-serif;
	margin:30px 40px 30px 40px;
	font-size:28px;
	padding-bottom:10px;
	color:#555;
	border-bottom:1px solid #e0e0e0
}
.PROJECT2-page .page-body {
	margin: 0 40px;
	overflow: hidden;
	position: relative;
}
.PROJECT2-page h2 {
	font-size:20px;
	font-family:roya, Arial, tahoma, sans-serif;
	color:#444;
}
.PROJECT2-page .mod-box {
	margin-top:20px;
}
.PROJECT2-page .mod-box .row {
	margin-bottom:20px;
	overflow: hidden;
}
.PROJECT2-page .mod-box label {
	display:block;
	font-size:1.125em;
	font-family:roya, Arial, tahoma, sans-serif;
	color:#444;
	float: right;
	text-align: left;
	margin-bottom:7px;
	padding-left: 10px;
	width: 140px;
}
.PROJECT2-page .mod-box input[type=text],
.PROJECT2-page .mod-box input[type=password],
.PROJECT2-page .mod-box input[type=email] {
	border:1px solid #d8d8d8;
	background:#fff;
	width:100%;
	max-width:300px;
	padding:7px 10px;
	direction:ltr;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	float: right;
	font-size:13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: 300ms all linear;
  -moz-transition: 300ms all linear;
  transition: 300ms all linear;
	outline:none;
}
.PROJECT2-page .mod-box input[type=text]:hover,
.PROJECT2-page .mod-box input[type=password]:hover,
.PROJECT2-page .mod-box input[type=email]:hover {
	border:1px solid #bfbfbf;
	outline:none;
}
.PROJECT2-page .mod-box input[type=text]:focus,
.PROJECT2-page .mod-box input[type=password]:focus,
.PROJECT2-page .mod-box input[type=email]:focus {
	border:1px solid #007aff;
	-webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	outline:none;
}
.PROJECT2-page .mod-box input[type=text].error,
.PROJECT2-page .mod-box input[type=password].error,
.PROJECT2-page .mod-box input[type=email].error {
    border-color: #ef7474;
}
.PROJECT2-page .mod-box input[type=text].success,
.PROJECT2-page .mod-box input[type=password].success,
.PROJECT2-page .mod-box input[type=email].success {
    border-color: #47d057;
}
.PROJECT2-page .form-col {
  position: relative;
	min-height: 300px;
	max-width: 580px;
	margin: 0 auto;
	padding-top: 40px;
}
.PROJECT2-page .form-col .recaptchatable {
	border:0 !important;
	margin-right: 133px !important;
}
.PROJECT2-page .form-col #recaptcha_image {
	border:0 !important;
}
.PROJECT2-page .form-col #recaptcha_challenge_image {
	border:1px solid #d8d8d8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.PROJECT2-page .form-col #recaptcha_logo,
.PROJECT2-page .form-col #recaptcha_privacy {
	display: none
}
.PROJECT2-page .form-col #recaptcha_response_field {
	border:1px solid #d8d8d8 !important;
	max-width:300px !important;
	padding:7px 10px !important;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: 300ms all linear;
  -moz-transition: 300ms all linear;
  transition: 300ms all linear;
	outline:none;
	margin-right: 7px !important;
}

.PROJECT2-page .psss-info-box {
	position: absolute;
	top: 50px;
	left: -150px;
	display: none;
}
.PROJECT2-page .psss-info-box ul li {
	list-style: disc inside;
	font-size:12px;
	font-family:Arial, tahoma, sans-serif;
	color: #777;
}
.PROJECT2-page .psss-info-box ul li span{
	font-size:14px;
	font-family:roya, Arial, tahoma, sans-serif;
	color:#666;
}
.PROJECT2-page .psss-info-box h2 {
	font-size:13px;
	font-family:yekan, Arial, tahoma, sans-serif;
	color:#007aff;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.PROJECT2-page .psss-info-box .psss-info {
	position: relative;
	background: #fuserfa;
	border: 1px solid #d8d8d8;
	padding: 10px 20px;
	width: 270px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.PROJECT2-page .psss-info-box .psss-info:after, .PROJECT2-page .psss-info-box .psss-info:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.PROJECT2-page .psss-info-box .psss-info:after {
	border-color: rgba(250, 250, 250, 0);
	border-left-color: #fuserfa;
	border-width: 10px;
	margin-top: -10px;
}
.PROJECT2-page .psss-info-box .psss-info:before {
	border-color: rgba(216, 216, 216, 0);
	border-left-color: #d8d8d8;
	border-width: 11px;
	margin-top: -11px;
}
.PROJECT2-page .slide-error{
	border:1px solid #ef7474;
	background:#fbf2f2;
	color:#c90e0e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:16px;
	text-align:right;
	padding:4px 10px;
	font-family:roya, arial, Helvetica, sans-serif;
	margin: 20px 0 10px 20px;
}
.PROJECT2-page .slide-success{
	border:1px solid #47d057;
	background:#f3fbf2;
	color:#3a7d42;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:16px;
	text-align:right;
	padding:4px 10px;
	font-family:roya, arial, Helvetica, sans-serif;
	margin: 20px 0 10px 20px;
}

.PROJECT2-page .form-submit {
	display:block;
	padding:5px 50px;
	float:right;
	width: 300px;
	margin-right: 140px;
	color:#fff;
	line-height:130%;
	border:none;
	font-family:yekan, Tahoma, Geneva, sans-serif;
	font-size:18px;
	text-align:center;
	-webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  -ms-border-radius:     4px;
  border-radius:         4px;
	-webkit-transition: 100ms all linear;
  -moz-transition:    100ms all linear;
  transition:         100ms all linear;
	cursor:pointer;
	background:#007aff
}

.PROJECT2-page .form-submit:disabled,
.PROJECT2-page .form-submit:disabled:hover {
    background: #cfcfcf;
    color: #707070;
    cursor: auto;
}

.PROJECT2-page .form-submit:hover {
	background:#0066ff;
	color:#fff;
}
.PROJECT2-page .form-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  display: none;
}
.PROJECT2-page .form-loader span {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  background: #007aff url('../images/blue-ajax-loader.gif') no-repeat center;
  -webkit-border-radius: 8px;
  -moz-border-radius:    8px;
  -ms-border-radius:     8px;
  border-radius:         8px;
}
.PROJECT2-page .earlypage-box {
	margin: 10px 0;
}
.PROJECT2-page .earlypage-box .mail-box {
	margin: 30px auto 60px auto;
	overflow: hidden;
	text-align: center;
	width: 454px;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email] {
	max-width: none;
	display: block;
	width: 300px;
	float: left;
	-webkit-border-radius: 6px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius: 6px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 0 10px;
	height: 45px;
	line-height: 44px;
	font-size: 16px;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email]::-webkit-input-placeholder {
	font-family:roya, Arial, Helvetica, sans-serif;
	direction:rtl;
	text-align: right;
	line-height: 44px;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email]:focus::-webkit-input-placeholder {
	color:#ccc;
}

.PROJECT2-page .earlypage-box .mail-box input[type=email]:-moz-placeholder { /* Firefox 18- */
	font-family:roya, Arial, Helvetica, sans-serif;
	direction:rtl;
	text-align: right;
	line-height: 44px;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email]:focus:-moz-placeholder {
	color:#ccc;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email]::-moz-placeholder {  /* Firefox 19+ */
	font-family:roya, Arial, Helvetica, sans-serif;
	direction:rtl;
	text-align: right;
	line-height: 44px;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email]:focus::-moz-placeholder {
	color:#ccc;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email]:-ms-input-placeholder {
	font-family:roya, Arial, Helvetica, sans-serif;
	direction:rtl;
	text-align: right;
	line-height: 44px;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email]:-ms-input-placeholder {
	color:#ccc;
}
.PROJECT2-page .earlypage-box .mail-box input[type=submit] {
	max-width: none;
	display: block;
	float: left;
	width: 150px;
	height: 45px;
	line-height: 44px;
	color:#fff;
	line-height:130%;
	font-family:yekan, Tahoma, Geneva, sans-serif;
	font-size:18px;
	text-align:center;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-transition: 100ms all linear;
  -moz-transition:    100ms all linear;
  transition:         100ms all linear;
	cursor:pointer;
	background:#007aff;
	border: 1px solid #007aff;
}
.PROJECT2-page .earlypage-box .mail-box input[type=submit]:disabled {
	cursor:default;
	background:#d0d0d0;
	border:1px solid #d0d0d0;
}
.PROJECT2-page .earlypage-box .mail-box input[type=submit]:hover {
	color: #fff;
	background:#1c89ff;
	border: 1px solid #1c89ff;
}
.PROJECT2-page .social-box {
	overflow: hidden;
	text-align: center;
	clear: both;
	background: #fuserfa;
	width: 100%;
	padding: 20px;
	border-top:1px solid #e0e0e0
}
.PROJECT2-page .social-box p {
	font-size:18px;
	padding: 0 0 5px 0;
	font-family:yekan, Arial, tahoma, sans-serif;
	color:#999;
}
.PROJECT2-page .social-box .facebook,
.PROJECT2-page .social-box .google,
.PROJECT2-page .social-box .linkedin,
.PROJECT2-page .social-box .twitter {
	display: inline-block;
	width: 48px;
	height: 48px;
	background: url('../images/social-icon2.png') no-repeat;
	background-position: 0 0;
}
.PROJECT2-page .social-box .google {
	background-position: 0 -48px;
}
.PROJECT2-page .social-box .linkedin {
	background-position: 0 -96px;
}
.PROJECT2-page .social-box .twitter {
	background-position: 0 -144px;
}





.single-copyright {
	margin:10px auto 10px auto;
	display:inline-block;
	font-family:roya, Arial, Helvetica, sans-serif;
	font-size:17px;
	text-align:center;
	direction:rtl;
	color:#999;
}
.single-copyright span{
	display:inline-block;
	margin-bottom:-3px;
	width:25px;
	height:14px;
	background:url(../images/heart.png) no-repeat center;
}
.single-copyright:hover{
	color:#555;
}




.top-banner {
	background:#fff url(../images/bg.png) no-repeat center;
	height: 360px;
	border-bottom: 1px solid #e7e7e7;
	overflow: hidden;
}
.top-banner .right-side {
	width: 70%;
	float: right;
	text-align: center;
}
.top-banner .left-side {
	width: 30%;
	float: left;
	overflow: hidden;
}
.top-banner .iphone-img {
	display: block;
	width: 220px;
	height:450px;
	background:url(../images/iphone.png) no-repeat center;
	margin: 100px 0 0 0;
	float: right;
	-webkit-transition: 100ms all linear;
	-moz-transition:    100ms all linear;
	transition:         100ms all linear;
}
.top-banner .iphone-img:hover {
	margin: 80px 0 0 0;
}
.top-banner h1 {
	font-size:32px;
	font-family:yekan, Arial, tahoma, sans-serif;
	color: #26627f;
	text-align: center;
	margin: 130px 10px 0 10px;
}
.top-banner .link-PROJECT  {
	background: #3090e9; /* Old browsers */
	background: -moz-linear-gradient(top, #3090e9 0%, #2888e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3090e9), color-stop(100%,#2888e0)); /* Chrome,Suserri4+ */
	background: -webkit-linear-gradient(top, #3090e9 0%,#2888e0 100%); /* Chrome10+,Suserri5.1+ */
	background: -o-linear-gradient(top, #3090e9 0%,#2888e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3090e9 0%,#2888e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3090e9 0%,#2888e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3090e9', endColorstr='#2888e0',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	border:none;
	-webkit-border-radius: 6px;
	-moz-border-radius:    6px;
	-ms-border-radius:     6px;
	border-radius:         6px;
	font-family:yekan, Tahoma, Geneva, sans-serif;
	font-size:22px;
	color: #fff;
	padding: 0 50px;
	line-height: 50px;
	height: 50px;
	margin: 30px 10px 10px 10px;
	-webkit-box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.06);
	-moz-box-shadow:    0 2px 1px 0px rgba(0, 0, 0, 0.06);
	box-shadow:         0 2px 1px 0px rgba(0, 0, 0, 0.06);
	-webkit-transition: 100ms all linear;
	-moz-transition:    100ms all linear;
	transition:         100ms all linear;
	cursor: pointer;
}
.top-banner .link-PROJECT:hover {
	-webkit-box-shadow: 0 2px 0 0px #fff;
	-moz-box-shadow:    0 2px 0 0px #fff;
	box-shadow:         0 2px 0 0px #fff;
	background: #3090e9; /* Old browsers */
	background: -moz-linear-gradient(top, #2888e0 0%, #3090e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2888e0), color-stop(100%,#3090e9)); /* Chrome,Suserri4+ */
	background: -webkit-linear-gradient(top, #2888e0 0%,#3090e9 100%); /* Chrome10+,Suserri5.1+ */
	background: -o-linear-gradient(top, #2888e0 0%,#3090e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2888e0 0%,#3090e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2888e0 0%,#3090e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2888e0', endColorstr='#3090e9',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 960px) {
.PROJECT2-page .mod-box label {
	text-align: right;
}
.PROJECT2-page .psss-info-box {
	position: static;
	display: block !important;
}
.PROJECT2-page .psss-info-box ul li span{
	font-size:16px;
}
.PROJECT2-page .psss-info-box h2 {
	font-size:18px;
	font-family:yekan, Arial, tahoma, sans-serif;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.PROJECT2-page .psss-info-box .psss-info {
	width: 100%;
}
.PROJECT2-page .psss-info-box .psss-info:after, .PROJECT2-page .psss-info-box .psss-info:before {
	display: none;
}
}

@media (max-width: 800px) {
.PROJECT2-page {
	padding:0;
	padding-bottom:20px;
	margin-top:80px;
}
.PROJECT2-page .page-title{
	margin:20px;
	text-align:center;
}
.PROJECT2-page .form-submit {
	float:none;
	margin:0 auto;
}
.PROJECT2-page .page-body {
	margin: 0 20px;
	overflow: hidden;
}
.PROJECT2-page .form-col .recaptchatable {
	margin-right: 0px !important;
}
.PROJECT2-page .earlypage-box .mail-box {
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	margin-bottom: 60px;
	width: 100%;
}
.PROJECT2-page .earlypage-box .mail-box input[type=email] {
	max-width: none;
	display: block;
	width: 100%;
	float: right;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 20px;
}
.PROJECT2-page .earlypage-box .mail-box input[type=submit] {
	max-width: none;
	float: right;
	width: 100%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.top-banner {
	height: auto;
}
.top-banner .right-side {
	width: 100%;
	float: none;
}
.top-banner .left-side {
	display: none;
}
.top-banner h1 {
	font-size:32px;
	font-family:yekan, Arial, tahoma, sans-serif;
	color: #26627f;
	text-align: center;
	margin: 10% 10px 0 10px;
}
.top-banner .link-PROJECT  {
	margin-bottom: 7%;
}
}