html,  div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	list-style:none;
	font-weight:normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
@font-face {
    font-family: 'Yekan';
    src: url('../fonts/WYekan.eot');
    src: url('../fonts/WYekan.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WYekan.woff') format('woff'),
         url('../fonts/WYekan.ttf') format('truetype'),
         url('../fonts/WYekan.svg#WYekan') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roya';
    src: url('../fonts/WebRoya.eot');
    src: url('../fonts/WebRoya.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WebRoya.woff') format('woff'),
         url('../fonts/WebRoya.ttf') format('truetype'),
         url('../fonts/WebRoya.svg#WYekan') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	padding:0;
	font: 1em/1.5 normal Arial, sans-serif;
	text-align: center;
	background:#fff;
	margin:0;
	direction:rtl;
	height:100%;
	min-height:100%;
}
html {
	height:100%;
}
a, a:visited {
	color:#888;
	text-decoration: none
}
a:hover {
	color:#333;
	text-decoration:none
}
::selection {
	background: #353535; color:#fff; text-shadow:none /* Suserri */
	}
::-moz-selection {
	background: #353535; color:#fff; text-shadow:none /* Firefox */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
	-webkit-appearance: none;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
.corner-banner {
	width:180px;
	height:180px;
	background:url(../images/ios8.png) no-repeat right top;
	position:absolute;
	top:0;
	right:0;
	z-index:9999
}

header {
	width:100%;
	position:fixed;
	top:0;
	z-index:999;
}
header #headerfull{
	width:100%;
	height:100px;
	background:#fff;
	-webkit-transition: 500ms all ease;
    -moz-transition: 500ms all ease;
    transition: 500ms all ease;
}
header .headerline{
	clear:both;
	height:1px;
	background:url(../images/trans1.png);
	width:100%;
}
header.sticky .headerline{
	height:5px;
}
header.sticky #headerfull{
	height:60px;
	background:rgba(255, 255, 255, 0.98);
}
#headerfull #head{
	max-width:1080px;
	margin:0 auto;
	overflow:hidden
}
header #headerfull #head #headlogo {
	background:url(../images/thelogo.svg) no-repeat center center;
	background-size:contain;
	width:48px;
	height:48px;
	float:left;
	margin:26px 5px 5px 20px;
	-webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    transition: 400ms all ease;
		opacity:0.6;
}
header.sticky #headerfull #head #headlogo {
	height:32px;
	margin:14px 5px 5px 20px;
}
header #headerfull #head span.beta-text{
	float:left;
	margin:8px 0px;
	font-family:roya, Arial, Helvetica, sans-serif;
	font-size:12px;
}
header.sticky #headerfull #head span.beta-text{
	margin:4px 0px;
}
#head #menu-toggle {
	display:none;
}
#head #menu-toggle span{
	background:url(../images/top-menu-toggle.png) no-repeat center center;
	min-height:50px;
	display:block;
	cursor:pointer;
	-webkit-transition: 200ms all linear;
    -moz-transition: 200ms all linear;
    transition: 200ms all linear;
}
#head #menu-toggle.open span{
	-webkit-transform: rotate(45deg) skew(0deg) translate(0px);
	-moz-transform: rotate(45deg) skew(0deg) translate(0px);
	-o-transform: rotate(45deg) skew(0deg) translate(0px);
}
#head ul {
	overflow:hidden;
	float:right;
	margin:0 10px 0 0;
}
#head ul#userlogin {
	margin:0;
}
#head ul li {
	float:right;
	margin:0;
}
#head ul li a,
#head ul li div{
	display:block;
	font-family:yekan;
	font-size:0.875em;
	color:#aaa;
	padding:38px 12px 0 12px;
	height:100px;
	-webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    transition: 300ms all ease;
	cursor:pointer;
}
#head ul li a span {
	letter-spacing:-0.15em !important;
}
#head ul li:hover{
	color:#333;
	border-bottom:5px solid rgba(0, 0, 0, 0.1)
}
#head ul li.active{
	border-bottom:5px solid rgba(0, 0, 0, 0.1)
}
#head ul li.active a{
	color:#202020;
	background:rgba(0, 0, 0, 0.02);
}
#head ul li.active a:hover{
	color:#202020
}
header.sticky #head ul li a,
header.sticky #head ul li div{
	height:60px;
	padding:18px 12px 0px 12px;
}
#head ul li.gotopanel a {
	display:block;
	font-family:yekan;
	font-size:0.875em;
	color:#aaa;
	background:#f8f8f8;
	padding:5px 12px 5px 12px;
	height:auto;
	margin-top:33px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  transition: 300ms all ease;
	cursor:pointer;
}
#head ul li.gotopanel:hover{
	border-bottom:none
}
#head ul li.gotopanel a:hover{
	background:#f0f0f0;
	color:#007eff;
}
header.sticky #head ul li.gotopanel a {
	padding:5px 12px 5px 12px;
	height:auto;
	margin-top:13px;
}

#userlogin-box{
	overflow:hidden;
	background:rgba(255, 255, 255, 0.98);
	width:100%;
	display:none;
	border-top:1px solid #f0f0f0;
}
#userlogin-box .thecontent{
	width:100%;
	max-width:1080px;
	margin:0 auto;
	display:table;
}
#userlogin-box .frame-title {
	margin:0 20px 20px 20px;
	padding-bottom:10px;
	border-bottom:1px solid #f0f0f0;
	font-family:roya, Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:0.875em;
	color:#555;
}
#userlogin-box .loginframe,
#userlogin-box .forgetframe {
	margin:20px 0;
	overflow:hidden;
}
#userlogin-box .forgetframe {
	display:none;
}
#userlogin-box .box {
	float:right;
	margin-right:20px;
}
#userlogin-box label {
	font-family:yekan;
	font-size:0.875em;
	color:#999;
	text-align:right;
	float:right;
	display:block;
	margin:8px 0 0 20px;
}
#userlogin-box input[type=email],
#userlogin-box input[type=password] {
	border:1px solid #d8d8d8;
	background:#fff;
	width:200px;
	padding:7px 10px;
	direction:ltr;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:13px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: 300ms all linear;
    -moz-transition: 300ms all linear;
    transition: 300ms all linear;
}
#userlogin-box input[type=email]:focus,
#userlogin-box input[type=password]:focus {
	border:1px solid #666;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#userlogin-box input[type=submit] {
	margin:2px 5px;
	font-family:yekan, Arial;
	color:#fff;
	font-size:0.875em;
	border:none;
	background: #3295f1;
	padding:5px 40px;
	cursor:pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 200ms all ease;
    -moz-transition: 200ms all ease;
    transition: 200ms all ease;
}
#userlogin-box input[type=submit]:hover {
}
#userlogin-box .changframelink {
	margin:2px 5px 2px 20px;
	font-family:yekan, Arial;
	color:#aaa;
	font-size:0.875em;
	background:#f5f5f5;
	padding:5px 10px;
	cursor:pointer;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 200ms all ease;
    -moz-transition: 200ms all ease;
    transition: 200ms all ease;
}
#userlogin-box .changframelink:hover {
	color:#aaa;
	font-size:0.875em;
	background:#eaeaea;
}


.content {
	width:100%;
	max-width:1080px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	height:100%;
}
.content .theslidetitle {
	width:100%;
	float:right;
	margin:60px 0;
}
.content .theslidetitle h6{
	display:inline-block;
	border:1px solid #dadada;
	padding:0.4em 2em;
	color:#777;
	font-size:1.063em;
	font-family:yekan, Arial, tahoma, sans-serif;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f9f9f9)); /* Chrome,Suserri4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); /* Chrome10+,Suserri5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
#introduction{
	height:700px;
	background:#f5f5f5;
	border-bottom:1px solid #e0e0e0;
	position:relative;
	z-index:5
}
#introduction .introduction-right{
	float:right;
	width:50%;
	height:100%;
	position:relative;
}
#introduction .introduction-right .thefixbox{
	background:url(../images/iphone.png) no-repeat bottom;
	background-size:100%;
	width:100%;
	max-width:540px;
	padding-top:110.7407407407%;
	position:absolute;
	right:0;
	bottom:0;
}
#iphone_hand_slides {
	width:35.740740740740%;
	height:57.35785953177258%;
	position:absolute;
	right:40.370370370%;
	top:16.88963210702341%;
	overflow:hidden;
}
#iphone_hand_slides div.slidesjs-slide img{
	width:100%;
	height:auto;
}
#introduction .introduction-left {
	float:left;
	width:50%;
	margin-top:160px;
	position:relative;
}
#introduction .introduction-left a.introduction-reg-button.blue,
#introduction .introduction-left a.introduction-reg-button.green {
	display:block;
	margin:20px 5%;
	padding:20px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family:yekan;
	color:#fff;
	border:1px solid #184c7c;
	font-size:1.313em;
	font-family:yekan, Arial, Helvetica, sans-serif;
	text-align:center;
	background: #2875bc; /* Old browsers */
	background: -moz-linear-gradient(top, #2875bc 0%, #1e609c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2875bc), color-stop(100%,#1e609c)); /* Chrome,Suserri4+ */
	background: -webkit-linear-gradient(top, #2875bc 0%,#1e609c 100%); /* Chrome10+,Suserri5.1+ */
	background: -o-linear-gradient(top, #2875bc 0%,#1e609c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2875bc 0%,#1e609c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2875bc 0%,#1e609c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2875bc', endColorstr='#1e609c',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #3889d4;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #3889d4;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #3889d4;
	-webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    transition: 400ms all ease;
}
#introduction .introduction-left a.introduction-reg-button.green {
	border:1px solid #24781b;
	background: #3aa72e; /* Old browsers */
	background: -moz-linear-gradient(top, #3aa72e 0%, #2f9025 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3aa72e), color-stop(100%,#2f9025)); /* Chrome,Suserri4+ */
	background: -webkit-linear-gradient(top, #3aa72e 0%,#2f9025 100%); /* Chrome10+,Suserri5.1+ */
	background: -o-linear-gradient(top, #3aa72e 0%,#2f9025 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3aa72e 0%,#2f9025 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3aa72e 0%,#2f9025 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa72e', endColorstr='#2f9025',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #43b536;
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #43b536;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #43b536;
}
#introduction .introduction-left a.introduction-reg-button.blue:hover {
	-webkit-box-shadow: 0px 2px 1px #fff, inset 0px 4px 5px #134d83;
	-moz-box-shadow: 0px 2px 1px #fff, inset 0px 4px 5px #134d83;
	box-shadow: 0px 2px 1px #fff, inset 0px 4px 5px #134d83;
}
#introduction .introduction-left a.introduction-reg-button.green:hover {
	-webkit-box-shadow: 0px 2px 1px #fff, inset 0px 4px 5px #1c7812;
	-moz-box-shadow: 0px 2px 1px #fff, inset 0px 4px 5px #1c7812;
	box-shadow: 0px 2px 1px #fff, inset 0px 4px 5px #1c7812;
}
.enamad {
	position: absolute;
	top: 150px;
	left: 0px;
	z-index: 99;
	background: #f5f5f5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#introduction .introduction-left .minibox-block {
	overflow:hidden;
	clear:both;
	margin:0;
	margin-top:40px;
}
#introduction .introduction-left .minibox-block .theminibox {
	text-align:right;
	float:right;
	margin:10px 5%;
	opacity:0.9;
}
#introduction .introduction-left .minibox-block .theminibox:hover {
	opacity:1;
}
#introduction .introduction-left .minibox-block .theminibox .theicon1,
#introduction .introduction-left .minibox-block .theminibox .theicon2,
#introduction .introduction-left .minibox-block .theminibox .theicon3,
#introduction .introduction-left .minibox-block .theminibox .theicon4,
#introduction .introduction-left .minibox-block .theminibox .theicon5 {
	width:54px;
	height:54px;
	background:url(../images/slide1-icon1.png) no-repeat;
	float:right;
}
#introduction .introduction-left .minibox-block .theminibox .theicon2 {
	background:url(../images/slide1-icon2.png) no-repeat;
}
#introduction .introduction-left .minibox-block .theminibox .theicon3 {
	background:url(../images/slide1-icon3.png) no-repeat;
}
#introduction .introduction-left .minibox-block .theminibox .theicon4 {
	background:url(../images/slide1-icon4.png) no-repeat;
}
#introduction .introduction-left .minibox-block .theminibox .theicon5 {
	background:url(../images/slide1-icon5.png) no-repeat;
}
#introduction .introduction-left .minibox-block .theminibox h2 {
	margin:5px 80px 0 0px;
	font-family:yekan, Arial, Helvetica, sans-serif;
	color:#555;
	text-align:justify;
	font-size:0.875em;
	line-height:1.6
}
#problem{
	background:#fefefe;
	border-bottom:1px solid #d3d3d3;
	position:relative;
	z-index:6;
}
#problem .theprobleminfo {
	padding:20px;
	background:url(../images/theprobleminfo-bg.png) no-repeat center bottom;
	font-family:yekan, Arial, Helvetica, sans-serif;
	color:#666;
	text-align:center;
	font-size:18px;
	clear:both;
}
#problem .theblock {
	overflow:hidden;
	clear:both;
	margin-bottom:6%;
}
#problem .theboxspace.right {
	width:33.333%;
	float:right;
}
#problem .theboxspace.center {
	width:33.333%;
	float:right;
}
#problem .theboxspace.left {
	width:33.333%;
	float:right;
}

#problem .theicon {
	opacity:0.4;
	height:120px;
	width:120px;
	margin:20px auto;
	display:block;
	border:4px solid #202020;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition: 300ms all linear;
    -moz-transition: 300ms all linear;
    transition: 300ms all linear;
}
#problem .theboxspace:hover .theicon {
	opacity:1;
}
#problem .theicon-card {
	background:url(../images/problem-card-icon.svg) no-repeat center center;
}
#problem .theicon-vallet {
	background:url(../images/problem-buld-icon.svg) no-repeat center center;
}
#problem .theicon-lock {
	background:url(../images/problem-jil-icon.svg) no-repeat center center;
}
#problem .thebox {
	margin:0 20px;
	font-family:roya, Arial, Helvetica, sans-serif;
	color:#666;
	text-align:justify;
	font-size:16px;
}
#problem .thebox .thetitle{
	font-family:yekan, Arial, Helvetica, sans-serif;
	color:#888;
	text-align:center;
	font-size:18px;
	margin-bottom:5px;
}
#problem .thebox span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
#problem .theboxspace:hover .thebox {
	color:#222;
}
#problem .gotoproblem-button {
	display:block;
	background:url(../images/gotoproblem-button-icon.png) no-repeat center bottom;
	color:#a4a4a4;
	margin:0 auto 20px auto;
	width:170px;
    -webkit-animation: blinker 3s infinite;
    -moz-animation: blinker 3s infinite;
    animation: blinker 3s infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
#problem .gotoproblem-button span{
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:17px;
	text-align:center;
	display:block;
	padding:0 0 54px 0 !important;
}
#problem .gotoproblem-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

#solution{
	overflow:hidden;
	background:#f7f7f7;
	border-bottom:1px solid #d3d3d3;
	position:relative;
	z-index:7
}

#solution .content .theslidetitle {
	margin-top:60px;
}
#solution .solution-left{
	float:left;
	width:40%;
	height:100%;
}
#solution .iphone-trans-border-box{
	width:100%;
	max-width:286px;
	margin:0 auto
}
#solution .iphone-trans-border-box .iphone-trans-border{
	padding-top:173.4265734265734%;
	background:url(../images/solution-iphone-trans-border.png) no-repeat center;
	background-size: cover;
}
#solution .iphone-trans-border-box .solution-iphone-animate{
	background:url(../images/af-gif.gif) no-repeat center 38%;
	background-size:63.63636363%

}
#solution .solution-right{
	float:right;
	width:60%;
	height:100%;
}
#solution .solution-right .solution-text .thetext{
	font-family:roya, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#444;
	font-size:18px;
	margin:8% 5% 10% 5% ;
}
#solution .solution-right .solution-text .thetext span{
	font-family:Arial, Helvetica, sans-serif;
	color:#444;
	font-size:16px;
}
#solution .solution-right .solution-text .thetext ul{
	margin:10px;
}
#solution .solution-right .solution-text .bottom-link{
	font-family:yekan, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#666;
	font-size:15px;
	margin-top:20px;
}
#solution .solution-right .solution-text .bottom-link a{
	color:#444;
	padding:0 2px;
	border-bottom:1px dashed #aaa
}
#solution .solution-right .solution-text .bottom-link a:hover{
	color:#d33a3a;
	border-bottom:1px dashed #d33a3a
}
#pricing{
	overflow:hidden;
	background:#fefefe;
	border-bottom:1px solid #d3d3d3;
	position:relative;
	z-index:7
}

#pricing .content .theslidetitle {
	margin-top:60px;
}
#pricing .pricing-body {
	overflow:hidden;
	clear:both;
	margin:0 10px 50px 10px;
}
#pricing .pricing-body .showallplane {
	margin:0px auto;
	overflow:hidden;
	width:100%;
	max-width:600px;
	position:relative;
}
#pricing .pricing-body .showallplane .plane-box{
	width:33.333%;
	float:right;
	border:1px solid #d0d0d0;
	margin:26px 0px 6px 0px;
	text-align:center;
}
#pricing .pricing-body .showallplane .plane-box.plane-a{
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-left:0;
}
#pricing .pricing-body .showallplane .plane-box.plane-b{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#pricing .pricing-body .showallplane .plane-box.plane-c{
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-right:0;

}
#pricing .pricing-body .showallplane .plane-box.specialoffer{
	padding:20px 0;
	margin-top:5px;
	border:2px solid #007eff;
	background:url(../images/check.svg) no-repeat -30px -30px;
	-webkit-box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}
#pricing .pricing-body .showallplane .plane-box .title {
	text-align:center;
	font-family:yekan, Helvetica, sans-serif;
	font-size:18px;
	color:#aaa;
	padding:20px 0 10px 0;
}
#pricing .pricing-body .showallplane .plane-box.specialoffer .title {
	color:#007eff;
}
#pricing .pricing-body .showallplane .plane-box .ord-line {
	display:block;
	width:40px;
	height:2px;
	background:#d0d0d0;
	margin:0 auto
}
#pricing .pricing-body .showallplane .plane-box.specialoffer .ord-line {
	background:#007eff;
}
#pricing .pricing-body .showallplane .plane-box .body {
	text-align:center;
	font-family:roya, Helvetica, sans-serif;
	font-size:18px;
	color:#bbb;
	margin:20px 0;
}
#pricing .pricing-body .showallplane .plane-box.specialoffer .body {
	color:#6b747d;
}
#pricing .pricing-body .showallplane .plane-box .body .plane-price{
	margin-bottom:10px;
}
#pricing .pricing-body .plane-bottom-text {
	text-align:center;
	margin-top:10px;
	font-family:roya, Helvetica, sans-serif;
	font-size:18px;
	color:#bbb;
}
#register{
	background:#f7f7f7;
	border-bottom:1px solid #d3d3d3;
	overflow:hidden;
	clear:both;
	position:relative;
	z-index:8
}
#appsvitrine{
	width:auto;
	background:#fff;
	overflow:hidden;
	clear:both;
	position:relative;
	z-index:9
}
#appsvitrine .theslidetitle {
	margin-bottom:30px
}
#appsvitrine .top-toolbar {
	border:none;
	clear:both;
	margin:9px;
}
#appsvitrine .top-toolbar .appcategory{
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.875em;
	color:#555;
}
#appsvitrine .top-toolbar .appsearch{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;
	background:#fff;
	border:1px solid #dadada;
	border-bottom:0;
}
#appsvitrine .top-toolbar .appsearch input[type=search]{
	border:1px solid #fff;
	padding:0;
	background:#fff;
	width:88%;
	padding:7px 10px;
	float:right;
	letter-spacing:0.07em;
	font-size:0.938em;
	font-family:Helvetica, Arial, Verdana, Geneva, sans-serif;
	text-align:left;
	direction:ltr;
	margin:0;
}
#appsvitrine .top-toolbar .appsearch input[type=submit]{
	background: url(../images/search.svg) no-repeat center;
	border:none;
	width:8%;
	height:28px;
	margin:2px 0 2px 10px;
	opacity:0.5;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
}
#appsvitrine .top-toolbar .appsearch input:-moz-placeholder { /* Firefox 18- */
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.875em;
	text-align:right;
	direction:rtl;
	color:#999;
	padding-right:4px;
}
#appsvitrine .top-toolbar .appsearch  input::-moz-placeholder {  /* Firefox 19+ */
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.875em;
	text-align:right;
	direction:rtl;
	color:#999;
	padding-right:4px;
}
#appsvitrine .top-toolbar .appsearch input:-ms-input-placeholder {
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.875em;
	text-align:right;
	direction:rtl;
	color:#999;
	padding-right:4px;
}
#appsvitrine .top-toolbar .appsearch input::-webkit-input-placeholder {
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.875em;
	text-align:right;
	direction:rtl;
	color:#999;
	padding-right:4px;
}
#appsvitrine .apps-toolbar {
	border:1px solid #dadada;
	margin:0 9px;
	overflow:hidden;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#appsvitrine .appshowcontor {
	text-align:center;
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.875em;
	color:#555;
	position:relative;
}
#appsvitrine .appshowcontor .appshowcontor-title{
	float:right;
	margin:7px 0;
	position:absolute;
	top:0;
	right:0;
	left:0;
	width:100%;
	z-index:-1;
}
#appsvitrine .appshowcontor .next_apps,
#appsvitrine .appshowcontor .prew_apps {
	cursor:pointer;
	float:right;
	padding:10px 10px;
	opacity:0.5;
	margin:0;
	border-left:1px solid #dadada;
}
#appsvitrine .appshowcontor .prew_apps {
	float:left;
	border-left:0;
	border-right:1px solid #dadada;
}
#appsvitrine .appshowcontor .next_apps span,
#appsvitrine .appshowcontor .prew_apps span {
	background:url(../images/next_apps.png) no-repeat right center;
	display:block;
	margin:0 5px;
	font-family:yekan;
	font-size:0.875em;
	color:#222;
	padding-right:20px;
}
#appsvitrine .appshowcontor .prew_apps span {
	background:url(../images/prew_apps.png) no-repeat left;
	padding-right:0;
	padding-left:20px;
}
#appsvitrine .appshowcontor .loading {
	background:url(../images/gif-load.gif) no-repeat center center;
	height:24px;
	width:48px;
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#appsvitrine .appshowcontor .next_apps:hover,
#appsvitrine .appshowcontor .prew_apps:hover {
	opacity:1;
	background:#fuserfa;
}
#appsvitrine .appcollec-block{
	clear:both;
	overflow:hidden;
}
#appsvitrine #app_show_box{
	display:block;
	overflow:hidden;
	margin:4px 3px 70px 3px;
	clear:both;
}
#appsvitrine .boxspace{
	width:25%;
	float:left;
}
#appsvitrine .boxspace .appbox {
	background:#fff;
	border:1px solid #dadada;
	overflow:hidden;
	cursor:pointer;
	display:block;
	margin:6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#appsvitrine .boxspace .appbox:hover {
	margin:5px;
	border:2px solid #404040;
}
#appsvitrine .boxspace .appbox .appicon{
	display:block;
	float:left;
}
#appsvitrine .boxspace .appbox .appicon img{
	height:64px;
	height:64px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin:6px;
	display:block;
}
#appsvitrine .boxspace .appbox .appinfo{
	margin:8px 8px 8px 20px;
	text-align:left;
	direction:ltr;
	font-size:12px;
	display:block;
	overflow:hidden;
}
#appsvitrine .boxspace .appbox .appinfo h3{
	height:18px;
	width:inherit;
	overflow:hidden;
}
#appsvitrine #toolbar-box {
	width:100%;
	clear:both;
	overflow:hidden;
}

/* app single box*/
#appsvitrine #app_show_box .appsinglebox{
	background:#fff;
	border:1px solid #dadada;
	margin:6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow:hidden;
	display:block;
	text-align:left;
	direction:ltr;
}
#appsvitrine .appsinglebox .app-sidebar{
	width:220px;
	float:left;
}
.appsinglebox .app-sidebar .side-box {
	clear:both;
	overflow:hidden
}
.appsinglebox .app-sidebar .side-box.gotoapps {
	border-bottom:1px solid #dadada;
}
.appsinglebox .app-sidebar .side-box.gotoapps a{
	text-align:center;
	background:#fuserfa;
	display:block;
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000;
	padding:15px 30px;
}
.appsinglebox .app-sidebar .side-box.gotoapps a:hover{
	background:#f7f7f7;
}
.appsinglebox .app-sidebar .side-box.gotoapps a span{
	background:url(../images/gotovitrine-icon.png) no-repeat right center;
	display:block;
	opacity:0.5;
	padding-right:30px;
}
.appsinglebox .app-sidebar .side-box img.app-big-icon{
	height:160px !important;
	width:160px !important;
	display:block;
	margin:20px auto;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.appsinglebox .app-sidebar .side-box .app-price {
	border:1px solid #d5d5d5;
	background:#fuserfa;
	overflow:hidden;
	padding:8px 10px;
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.750em;
	margin:0 10px;
	color:#444;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.appsinglebox .app-sidebar .side-box .app-price span:first-child{
	float:right;
}
.appsinglebox .app-sidebar .side-box .app-price span:last-child{
	float:left;
}
.appsinglebox .app-sidebar .side-box a.itunes-link {
	display:block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:8px 10px;
	font-family:yekan, arial;
	font-size:0.813em;
	margin:10px;
	text-align:center;
	color:#fff;
	border:1px solid #56a84c;
	background: #64ba59; /* Old browsers */
	background: -moz-linear-gradient(top, #64ba59 1%, #5bad50 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#64ba59), color-stop(98%,#5bad50)); /* Chrome,Suserri4+ */
	background: -webkit-linear-gradient(top, #64ba59 1%,#5bad50 98%); /* Chrome10+,Suserri5.1+ */
	background: -o-linear-gradient(top, #64ba59 1%,#5bad50 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #64ba59 1%,#5bad50 98%); /* IE10+ */
	background: linear-gradient(to bottom, #64ba59 1%,#5bad50 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64ba59', endColorstr='#5bad50',GradientType=0 ); /* IE6-9 */
}
.appsinglebox .app-sidebar .side-box.app-desk {
	margin:10px;
	font-family:arial;
	font-size:0.750em;
	line-height:180%;
	color:#555;
}
.appsinglebox .app_body{
	margin-left:220px;
	border-left:1px solid #dadada;
}
.appsinglebox .app_body .title {
	border-bottom:1px solid #dadada;
	padding:1px 0;
	margin:0 20px;
	height:50px;
}
.appsinglebox .app_body .title h2{
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#ad2525;
}
.appsinglebox .app_body .app-description {
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 20px;
	font-size:0.813em;
	line-height:150%;
	color:#666;
	height:200px;
	overflow:hidden;
	position:relative;
}
.appsinglebox .app_body .app-description .hideboxshadow{
	position:absolute;
	text-align:center;
	width:100%;
	height:60px;
	left:0;
	bottom:0;
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 2%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(2%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Suserri4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 100%); /* Chrome10+,Suserri5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.appsinglebox .app_body .appdescshowmore,
.appsinglebox .app_body .appdeschidemore{
	padding:4px 20px;
	float:right;
	background:#f5f5f5;
	margin:0 20px;
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#444;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor:pointer;
}
.appsinglebox .app_body .appdescshowmore i,
.appsinglebox .app_body .appdeschidemore i{
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	margin:1px 0 0 5px;
}
.appsinglebox .app_body .appdeschidemore{
	display:none;
}
.appsinglebox .app_body .app-description h3{
	font-weight:bold;
	font-size:16px;
	color:#888;
	margin:20px 0 5px 0;
}

.appshot-box {
	width:100%;
}
#app-shot-slides {
	display: none;
	width:100% !important;
	position:relative;
	height:auto !important;
	margin-top:50px;
}
.slidesjs-container {
	height:auto !important;
}
.slidesjs-control {
	display:block !important;
	height:400px; !important;
}
#app-shot-slides div.slidesjs-slide{
	margin:0 auto;
	max-height:400px !important;
	height:auto !important;
	width:100% !important;
	max-width:100%;
}
#app-shot-slides div.slidesjs-slide img{
	max-height:400px !important;
	height:auto !important;
	width:auto !important;
	max-width:80%;
	display:block;
	margin:0 auto
}

#app-shot-slides .slidesjs-pagination {
      margin: 7px 0 0;
      list-style: none;
	  text-align:center;
	  overflow:hidden;
}

#app-shot-slides .slidesjs-pagination li {
	display:inline-block;
	margin: 0 1px;
}

#app-shot-slides .slidesjs-pagination li a {
	display: block;
	background:#fff;
	border:1px solid #aaa;
	width: 12px;
	height: 0;
	padding-top: 10px;
	float: left;
	overflow: hidden;
}

#app-shot-slides .slidesjs-pagination li a.active,
#app-shot-slides .slidesjs-pagination li a:hover.active {
	background:#444;
	border:1px solid #333;
}

#app-shot-slides .slidesjs-pagination li a:hover {

}
/* app single box error*/
#appsvitrine #app_show_box .apperrorbox{
	background:#fff;
	border:1px solid #dadada;
	margin:6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow:hidden;
	display:block;
	text-align:center;
	padding:100px 20px;
	direction:rtl;
}
#appsvitrine #app_show_box .apperrorbox .erroricon{
	height:150px;
	width:150px;
	margin:0 auto;
	display:block;
	background:url(../images/thelogo.svg) no-repeat center;
	background-size:contain;
	opacity:0.8
}
#appsvitrine #app_show_box .apperrorbox p.errortitle,
#appsvitrine #app_show_box .apperrorbox p.offertitle{
	font-family:roya, Arial, Helvetica, sans-serif;
	font-size:20px;
	margin:20px 10px;
	color:#222;
}
#appsvitrine .apperrorbox .appofferimport-box{
	clear:both;
	overflow:hidden;
	max-width:600px;
	margin:20px auto;
}
#appsvitrine .apperrorbox .appofferinput {
	font-family:yekan, arial;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width:50%;
	margin:3px 5px;
	background:#fff;
	border:1px solid #c4c4c4;
	padding:10px;
	text-align:left;
	direction:ltr;
	font-size:13px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}
#appsvitrine .apperrorbox .appofferinput::-webkit-input-placeholder {
	text-align:right;
	direction:rtl;
}
#appsvitrine .apperrorbox .appofferinput:-moz-placeholder { /* Firefox 18- */
	text-align:right;
	direction:rtl;
}
#appsvitrine .apperrorbox .appofferinput:-ms-input-placeholder {
	text-align:right;
	direction:rtl;
}
#appsvitrine .apperrorbox .appofferinput:focus {
	border:1px solid #777;
}
#appsvitrine .apperrorbox .newsletter-offer {
	font-family:roya, Arial, Helvetica, sans-serif;
	text-align:right;
	color:#777;
	width:50%;
	margin:3px auto;
}
#appsvitrine .apperrorbox .newsletter-offer .checkbox{
	float:right;
	margin:10px 5px 0 0;
	cursor:pointer;
}
#appsvitrine .apperrorbox .newsletter-offer label{
	margin:5px 10px;
	display:block;
	float:right;
	cursor:pointer;
}
#appsvitrine .apperrorbox .appoffersubmit {
	padding:10px 0;
	width:50%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#fff;
	border:1px solid #2985db;
	font-size:13px;
	margin-top:10px;
	font-family:yekan, Arial, Helvetica, sans-serif;
	text-align:center;
	background:#3295f1;
	-webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    transition: 400ms all ease;
	cursor:pointer;
}
#appsvitrine .apperrorbox .appoffersubmit:hover {
	background:#2886dd;
}
#appsvitrine .apperrorbox .appoffershow-block{
	max-width:600px;
	margin:20px auto;
	overflow:hidden;
	display:none;
}
#appsvitrine .apperrorbox .appoffershow-block .boxspace{
	width:50%;
}
#appsvitrine .apperrorbox .ortitle {
	color:#ccc;
	font-size:18px;
	margin:20px;
	font-family:yekan, Arial, Helvetica, sans-serif;
	text-align:center;
}
#appsvitrine .apperrorbox .gotovitrin-link {
	background:#f1f1f1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#888;
	font-size:14px;
	font-family:yekan, Arial, Helvetica, sans-serif;
	text-align:center;
	display:inline-block;
	padding:10px 40px;
}
#appsvitrine .apperrorbox .gotovitrin-link:hover {
	background:#eaeaea;
}




#newsletter{
	min-height:100%;
	background:#2f2f2f;
	-webkit-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.4);
	position:relative;
	z-index:1;
}
#newsletter .theslidetitle {
	margin-bottom:0;
}
#newsletter .theslidetitle h6{
	display:inline-block;
	border:none;
	padding:0.4em 2em;
	color:#e0e0e0;
	margin:40px 0;
	font-size:1.188em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background:#282828; /* Old browsers */
}
#newsletter .theblock {
	clear:both;
	max-width:700px;
	margin:0 auto;
}
#newsletter .theblock .mail-box {
	margin:0px auto 5px auto;
	direction:ltr;
	overflow:hidden;
	border:1px solid #151515;
	background:#1a1a1a;
	color:#fff !important;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
}
#newsletter .theblock .mail-box .boxtitle {
	display:block;
	margin:18px 1em 10px 1em;
	color:#ccc;
	direction:rtl;
	font-size:1.063em;
	font-family:yekan, Arial, tahoma, sans-serif;
}
#newsletter .theblock .mail-box .wait-message,
#newsletter .theblock .mail-box .success {
	padding:0 5px;
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:1.063em;
	text-align:center;
	direction:rtl;
	display:block;
	color:#aaa;
	line-height:50px;
	height:50px;
	letter-spacing:normal;
	margin:18px 16px 16px 16px;
	display:none;
}
#newsletter .theblock .mail-box .inputs {
	overflow:hidden;
}
#newsletter .theblock .mail-box .textfield {
	width:71%;
	float:left;
}
#newsletter .theblock .mail-box .textfield input[type=text]{
	width:100% !important;
	display:block;
	height:50px;
	background:#2f2f2f;
	border:1px solid transparent;
	padding:0 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.250em;
	text-align:center;
	letter-spacing:.10em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:8px 0 16px 16px;
	color:#eee
}
#newsletter .theblock .mail-box .textfield input[type=text]:hover{
	background:#303030;
	border:1px solid #6f6f6f;
}
#newsletter .theblock .mail-box .textfield input[type=text]:focus{
	background:#fff;
	border:1px solid #000;
	color:#444
}
#newsletter .theblock .mail-box .button{
	width:23%;
	float:right;
	margin:8px 16px 16px 0;
}
#newsletter .theblock .mail-box .button button{
	width:100%;
	height:50px;
	background:#0da36d;
	border:1px solid #0da36d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
	font-family:yekan, Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:1em;
	color:#fff;
}
#newsletter .theblock .mail-box .button button:hover{
	background:#228863;
	border:1px solid #228863;
	color:#fff;
}
#newsletter .theblock input::-webkit-input-placeholder {
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.750em;
	text-align:center;
	direction:rtl;
	color:#999;
	line-height:150%;
	letter-spacing:normal;
}
#newsletter .theblock input:focus::-webkit-input-placeholder {
	color:#ccc;
}

#newsletter .theblock input:-moz-placeholder { /* Firefox 18- */
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.750em;
	text-align:center;
	direction:rtl;
	color:#666;
	line-height:150%;
	letter-spacing:normal;
}
#newsletter .theblock input:focus:-moz-placeholder {
	color:#ccc;
}
#newsletter .theblock input::-moz-placeholder {  /* Firefox 19+ */
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.750em;
	text-align:center;
	padding-top:10px;
	direction:rtl;
	color:#666;
	line-height:150%;
	letter-spacing:normal;
}
#newsletter .theblock input:focus::-moz-placeholder {
	color:#ccc;
}
#newsletter .theblock input:-ms-input-placeholder {
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.750em;
	text-align:center;
	direction:rtl;
	color:#666;
	line-height:150%;
	letter-spacing:normal;
}
#newsletter .theblock input:focus:-ms-input-placeholder {
	color:#ccc;
}
#newsletter .theblock .contact-box {
	overflow:hidden;
}
#newsletter .theblock .contact-box .emailadress,
#newsletter .theblock .contact-box .phonenumber {
	float:left;
	width:49.5%;
	height:50px;
	color:#fff;
	letter-spacing:0.18em;
	text-align:right;
	overflow:hidden;
	direction:ltr;
	border:1px solid #151515;
	background:#1a1a1a;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#newsletter .theblock .contact-box .phonenumber{
	float:right;
}
#newsletter .theblock .contact-box div a{
	display:block;
	overflow:hidden;
	text-align:center;
	line-height:50px;
	color:#eee;
	margin:0;
	opacity:0.6;
	padding-left:20px;
}
#newsletter .theblock .contact-box div a:hover{
	opacity:1;
}
#newsletter .theblock .contact-box .emailadress span,
#newsletter .theblock .contact-box .phonenumber span{
	width:50px;
	height:50px;
	display:block;
	float:right;
	background:#1a1a1a url(../images/newsletter-mail.png) no-repeat center;
}
#newsletter .theblock .contact-box .phonenumber span{
	background:#1a1a1a url(../images/newsletter-phone.png) no-repeat center;
}
#newsletter .theblock .contact-box div span::selection {
	background:#fff !important;
	color:#000;
}
#newsletter .theblock .contact-box div span::-moz-selection {
	background:#fff !important;
	color:#000;
}
#newsletter .address-box {
	margin:0px auto 5px auto;
	direction:ltr;
	overflow:hidden;
	border:1px solid #151515;
	background:#1a1a1a;
	color:#fff !important;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
}
#newsletter .address-box .theadress {
	opacity: 0.6;
}
#newsletter .address-box:hover .theadress {
	opacity: 1;
}
#newsletter .address-box span {
	width:50px;
	height:50px;
	display:block;
	float:right;
	background:#1a1a1a url(../images/newsletter-location.png) no-repeat center;
}
#newsletter .address-box p {
	font-family:roya, Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:18px;
	line-height: 50px;
	margin:0 10px;
	color:#fff;
}
#newsletter .iconblock {
	overflow:hidden;
	margin:30px 0;
}
#newsletter .iconblock .facebook-icon,
#newsletter .iconblock .twitter-icon,
#newsletter .iconblock .instagram-icon {
	width:50px;
	height:50px;
	margin:0 5px;
	display:inline-block;
	-webkit-transition: 100ms all linear;
    -moz-transition: 100ms all linear;
    transition: 200ms all linear;
}
#newsletter .iconblock .facebook-icon{
	background:url(../images/facebook.svg) repeat-y center top;
	background-size:cover;
}
#newsletter .iconblock .twitter-icon{
	background:url(../images/twitter.svg) repeat-y center top;
	background-size:cover;
}
#newsletter .iconblock .instagram-icon{
	background:url(../images/instagram.svg) repeat-y center top;
	background-size:cover;
}
#newsletter .iconblock .facebook-icon:hover,
#newsletter .iconblock .twitter-icon:hover,
#newsletter .iconblock .instagram-icon:hover {
	background-position:center -51px;
}
#newsletter .copyright {
	margin:10% auto 20px auto;
	display:inline-block;
	font-family:roya, Arial, Helvetica, sans-serif;
	font-size:17px;
	text-align:center;
	direction:rtl;
}
#newsletter .copyright span{
	color:#fff;
	display:inline-block;
}
#newsletter .copyright i{
	display:inline-block;
	margin-bottom:-3px;
	width:23px;
	height:14px;
	background:url(../images/heart.png) no-repeat center;
}
#newsletter .copyright p{
	display:block;
	font-family:roya, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#bbb;
	text-align:center;
	direction:rtl;
	margin:0 20px 15px 20px;
}

@media (max-width: 800px) {
.enamad {
	top: 60px;
	left: auto;
	right: 0;
}
header.sticky #headerfull{
	height:auto;
}
header #headerfull{
	height:auto;
}
header #headerfull #head #headlogo {
	background:url(../images/thelogo.svg) no-repeat center center;
	background-size:contain;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	width:100%;
	height:60px;
	float:none;
	margin:10px 0;
}
header #headerfull #head span.beta-text{
	display:none;
}
#head #menu-toggle {
	display:block;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
#head ul {
	display:none;
	float:none;
	overflow:hidden;
	clear:both;
}
#head ul li {
	width:100%;
	float:none;
	margin:0;
}
#head ul#userlogin li {
	width:100%;
	float:none;
}
#head ul li a,
#head ul li div{
	padding:12px 0 12px 0;
	height:auto;
	border:1px solid rgba(0, 0, 0, 0.1);
	border-width:0 0 1px 1px;
}
#head ul li:hover{
	color:#333;
	border:none
}
#head ul li.active a {
	color:#202020;
	background:rgba(0, 0, 0, 0.01);
}
#head ul li.active{
	border:none;
}
#head ul li.active a:hover,
#head ul li.active div:hover{
	color:#202020
}
header #head ul{
	margin:0 !important;
}
header.sticky #head ul li a,
header.sticky #head ul li div{
	height:auto;
	padding:10px 0 10px 0;
}
#head ul li.gotopanel a {
	margin-top:0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding:14px 12px;
}
header.sticky #head ul li.gotopanel a {
	margin-top:0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding:14px 12px;
}
header.sticky #head #headlogo {
	display:none;
}
header #head ul#menu li div,
header.sticky #head ul#menu li div{
	height:60px;
	padding:18px 15px 0px 15px;
}
.content .theslidetitle h6{
	padding:0.4em 2em;
}

#userlogin-box .thecontent{
	display:block;
}
#userlogin-box .box {
	float:none;
	clear:both;
	margin:0 20px;
}
#userlogin-box .frame-title {
	margin:0 10px 10px 10px;
	padding:0 0 10px 0;
}
#userlogin-box label {
	float:right;
	display:block;
	text-align:left;
	width:35%;
	margin:13px 0 0 0;
}
#userlogin-box input[type=email],
#userlogin-box input[type=password] {
	width:60%;
	float:left;
	padding:10px;
	margin:5px 0;
}
#userlogin-box input[type=submit] {
	margin:2px 0;
	width:100%;
	padding:10px 0;
}
#userlogin-box .changframelink {
	margin:10px 20px 2px 20px;
	float:none;
}








#introduction{
	height:auto;
}
#introduction .introduction-right{
	float:none;
	width:100%;
	max-width:650px;
	height:auto;
	margin:160px auto 0 auto;
	clear:both;
}
#introduction .introduction-right .thefixbox{
	background:url(../images/iphone.png) no-repeat bottom;
	background-size:100%;
	width:100%;
	max-width:inherit;
	padding-top:110.7407407407%;
	position:relative;
}
#introduction .introduction-left{
	float:none;
	width:100%;
	height:auto;
	margin:0 0 30px 0;
	clear:both;
	right:auto
}
#introduction .introduction-left a.introduction-reg-button.blue,
#introduction .introduction-left a.introduction-reg-button.green {
	font-size:1.125em;

}
#problem .theboxspace {
	width:100% !important;
	margin-bottom:40px;
	float:none;
}
#problem .thebox {
	text-align:right;
}
#solution .solution-left{
	float:none;
	width:100%;
	height:auto;
}
#solution .solution-right{
	float:none;
	width:100%;
	height:auto;
}
#solution .solution-right .solution-text h3{
	margin:15% 5% 10% 5% ;
	text-align:right;
}
#appsvitrine #top_toolbar .appsearch{
	border:1px solid #dadada;
	display:block;
	float:none;
}

#appsvitrine #top_toolbar .appcategory{
	font-family:yekan;
	font-size:0.875em;
	color:#555;
}
#appsvitrine .appshowcontor {
	text-align:center;
	font-family:yekan, Arial, Helvetica, sans-serif;
	font-size:0.875em;
	color:#555;
	position:relative;
}
#appsvitrine .appshowcontor .appshowcontor-title{
	float:none;
	width:100%;
	padding:10px 0;
	margin:0;
	position:static;
	border-bottom:1px solid #dadada;
}
#appsvitrine .appshowcontor .next_apps,
#appsvitrine .appshowcontor .prew_apps {
	cursor:pointer;
	padding:10px 10px;
	width:50%;
	opacity:0.5;
	margin:0;
	border-left:1px solid #dadada;
}
#appsvitrine .appshowcontor .prew_apps {
	border-left:0;
	border-right:1px solid #dadada;
}


#appsvitrine .boxspace{
	width:100%;
	float:none;
}
.appsinglebox .app_body{
	margin:0;
	border:none;
}
#appsvitrine .appsinglebox .app-sidebar{
	border-bottom:1px solid #dadada;
	border-width:0 0 1px 0;
	width:100%;
	float:none;
	margin-bottom:20%;
}
#appsvitrine .apperrorbox .appoffershow-block .boxspace{
	width:100%;
	float:none;
}
#appsvitrine .apperrorbox .appofferinput {
	width:80%;
}

#appsvitrine .apperrorbox .newsletter-offer {
	width:80%;
}
#appsvitrine .apperrorbox .appoffersubmit {
	width:80%;
}



#newsletter .theblock .mail-box,
#newsletter .theblock .address-box,
#newsletter .theblock .contact-box {
	margin:10px;
}

#newsletter .theblock .mail-box .textfield {
	width:inherit;
	float:none;
	margin:6px 5%;
}
#newsletter .theblock .mail-box .textfield input[type=text]{
	padding:0;
	margin:0;
}
#newsletter .theblock .mail-box .button{
	width:inherit;
	float:none;
	margin:6px 5%;
}
#newsletter .theblock .contact-box div{

}
#newsletter .theblock .contact-box .emailadress,
#newsletter .theblock .contact-box .phonenumber {
	float:left;
	width:100%;
	margin-bottom:16px;
}
}
