body.single {
	background:#f5f5f5;
	height:auto;
	min-height:inherit;
}
.single-page-body {
	font-family:yekan, Arial, Helvetica, sans-serif;
	background:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
	text-align:right;
	direction:rtl;
	clear:both;
	margin:140px 10px 10px 10px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	padding:0 0 20px 0;
}
.single-page-body.PROJECT2-page {
}
.PROJECT2-page .page-title {
	font-family:roya, Arial, Helvetica, sans-serif;
	margin:20px 40px 30px 40px;
	font-size:2em;
	padding-bottom:10px;
	color:#555;
	border-bottom:1px solid #e0e0e0
}
.PROJECT2-page .page-body {
	margin: 0 40px;
	overflow: hidden;
}
.PROJECT2-page h2 {
	font-size:1.125em;
	font-family:roya, Arial, tahoma, sans-serif;
	color:#444;
}
.PROJECT2-page .mod-box {
	margin-top:20px;
}
.PROJECT2-page .mod-box .row {
	margin-bottom:20px;
	overflow: hidden;
}
.PROJECT2-page .mod-box label {
	display:block;
	font-size:1.125em;
	font-family:roya, Arial, tahoma, sans-serif;
	color:#444;
	float: right;
	margin-bottom:5px;
	width: 90px;
}
.PROJECT2-page .mod-box input[type=text],
.PROJECT2-page .mod-box input[type=password],
.PROJECT2-page .mod-box input[type=email] {
	border:1px solid #d8d8d8;
	background:#fff;
	width:100%;
	max-width:300px;
	padding:7px 10px;
	direction:ltr;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	float: right;
	font-size:13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: 300ms all linear;
  -moz-transition: 300ms all linear;
  transition: 300ms all linear;
	outline:none;
}
.PROJECT2-page .mod-box input[type=text]:hover,
.PROJECT2-page .mod-box input[type=password]:hover,
.PROJECT2-page .mod-box input[type=email]:hover {
	border:1px solid #bfbfbf;
	outline:none;
}
.PROJECT2-page .mod-box input[type=text]:focus,
.PROJECT2-page .mod-box input[type=password]:focus,
.PROJECT2-page .mod-box input[type=email]:focus {
	border:1px solid #03F;
	-webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
	outline:none;
}
.PROJECT2-page .mod-box input[type=text].error,
.PROJECT2-page .mod-box input[type=password].error,
.PROJECT2-page .mod-box input[type=email].error {
    border-color: #ef7474;
}
.PROJECT2-page .mod-box input[type=text].success,
.PROJECT2-page .mod-box input[type=password].success,
.PROJECT2-page .mod-box input[type=email].success {
    border-color: #47d057;
}
.PROJECT2-page .mod-box .captcha-img {
	float:right;
	margin-left:10px
}
.PROJECT2-page .mod-box input.captcha-input {
	width:100px;
}
.PROJECT2-page .form-col {
	width: 50%;
	float: right;
}
.PROJECT2-page .left-col {
	margin-top: 20px;
	width: 50%;
	float: right;
	font-size:15px;
	font-family:roya, Arial, tahoma, sans-serif;
	color:#444;
}
.PROJECT2-page .left-col ul li {
	list-style: circle inside;
	color: #777;
}
.PROJECT2-page .left-col .psss-info-box {
	padding:10px;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.PROJECT2-page .left-col .psss-info-box legend {
	text-align: center;
	font-size:18px;
	font-family:yekan, Arial, tahoma, sans-serif;
	color:#777;
	padding: 0 20px 3px 20px;
}
.PROJECT2-page .left-col .psss-info-box h2 {
	font-size:18px;
	font-family:roya, Arial, tahoma, sans-serif;
	color:#666;
}



.PROJECT2-page .slide-error{
	border:1px solid #ef7474;
	background:#fbf2f2;
	color:#c90e0e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:16px;
	text-align:right;
	padding:4px 10px;
	font-family:roya, arial, Helvetica, sans-serif;
	margin: 20px;
}
.PROJECT2-page .PROJECT2-page .slide-success{
	border:1px solid #47d057;
	background:#f3fbf2;
	color:#3a7d42;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:16px;
	text-align:right;
	padding:4px 10px;
	font-family:roya, arial, Helvetica, sans-serif;
	margin: 20px;
}

.PROJECT2-page .form-submit {
	display:block;
	padding:5px 50px;
	float:right;
	color:#fff;
	line-height:130%;
	border:none;
	font-family:yekan, Tahoma, Geneva, sans-serif;
	font-size:18px;
	text-align:center;
	-webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  -ms-border-radius:     4px;
  border-radius:         4px;
	-webkit-transition: 100ms all linear;
  -moz-transition:    100ms all linear;
  transition:         100ms all linear;
	cursor:pointer;
	background:#007aff
}

.PROJECT2-page .form-submit:disabled,
.PROJECT2-page .form-submit:disabled:hover {
    background: #cfcfcf;
    color: #707070;
    cursor: auto;
}

.PROJECT2-page .form-submit:hover {
	background:#0066ff;
	color:#fff;
}








.single-copyright {
	margin:10px auto 10px auto;
	display:inline-block;
	font-family:roya, Arial, Helvetica, sans-serif;
	font-size:17px;
	text-align:center;
	direction:rtl;
	color:#999;
}
.single-copyright span{
	display:inline-block;
	margin-bottom:-3px;
	width:25px;
	height:14px;
	background:url(../images/heart.png) no-repeat center;
}
.single-copyright:hover{
	color:#555;
}

.out-link-box {
	font-family:roya, Arial, Helvetica, sans-serif;
	font-size:19px;
	text-align:center;
	margin:20px 20px 0 20px;
	padding:20px;
	border:1px solid #eaeaea;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 50ms all linear;
    -moz-transition: 50ms all linear;
    transition: 50ms all linear;
	color:#666;
}
.out-link-box.yespage {
	margin:20px 40px 0 40px;
}
.out-link-box a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	text-align:center;
	color:#555;
	padding-bottom:2px;
	border-bottom:1px dashed #666;
}
.out-link-box a:hover{
	color:#e71e1e;
	border-bottom:1px dashed #e71e1e;
}



@media (max-width: 800px) {
.single-page-body {
	padding:0;
	padding-bottom:20px;
	margin-top:80px;
}
.single-page-body .page-title{
	margin:10px;
	text-align:center;
}
.PROJECT2-page .form-submit {
	float:none;
	margin:0 auto;
}
.PROJECT2-page .page-body {
	margin: 0 20px;
	overflow: hidden;
}
.PROJECT2-page .form-col {
	width: 100%;
}
.PROJECT2-page .left-col {
	width: 100%;
}
}