<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>ساخت اپل ایدی | اپفورال</title>
	<meta name="author" value=" Team">
	<meta name="robots" content="INDEX,FOLLOW">

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta property="og:site_name" content="اپفورال"/>
	<meta property="og:title" content="دانلود و نصب برنامه‌های آیفون و آیپد | اپفورال"/>
	<meta property="og:description" content="ساخت اپل ای دی رایگان و سریع" />
	<meta property="og:url" content="http://www.PROJECT.ir/"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="static/images/af-social.png" />

	<link href="http://www.PROJECT.ir" rel="canonical" />
	<link href="static/images/favicon.png" rel="icon" />
	<link href="https://www.PROJECT.ir/static/css/style.css" media="all" type="text/css" rel="stylesheet">
	<link href="css/idstyle.css" media="all" type="text/css" rel="stylesheet">
	<script src="//cdn.optimizely.com/js/3708470141.js"></script>
	<script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="js/analytics.js"></script>
	<script src="https://www.PROJECT.ir/static/js/subscription.js"></script>
	<script src="https://www.PROJECT.ir/panel/user.js"></script>
	{% block scripts %}
	{% endblock scripts %}
	<script src="https://www.PROJECT.ir/static/js/script.js"></script>
	{% endblock %}
  <meta name="google-site-verification" content="GOOGLE_SITE_VERIFICATION_CODE"/>
</head>
<body>

{% include "header.html" %}
{% include "signin_box.html" %}

<main class="PROJECT2-page">
	<div class="PROJECT-intro fa">
		<div class="movebg">
			<section class="container">
				<div class="col-1-7 floatleft">
					<div class="text-box">
						<h1><span>دانلود رایگان و نامحدود</span> بیش از 13400 برنامه آیفون و آیپد</h1>
						<div class="and">و</div>
						<h1>خرید ریالی تمام برنامه‌های اپ استور آمریکا</h1>
						<a href="https://PROJECT.ir/#download" class="download-button">
							<span>نصب رایگان اپفورال</span><i></i>
						</a>
					</div>
				</div>
				<div class="col-1-5 floatright">
					<div class="iphone-img"></div>
				</div>
			</section>
			<div class="box-shadow"></div>
		</div>
	</div>
	<section class="container">
		<section class="PROJECT2-body">
				<div class="page-title">ساخت Apple ID رایگان</div>
				{% block body %}{% endblock %}
		</section>
	</section>
</main>

{% include "footer.html" %}

<script type="text/javascript">
	$('#password').focus(function() {
	    $('.psss-info-box').show();
	    $(document).bind('focusin.psss-info-box click.psss-info-box',function(e) {
	        if ($(e.target).closest('.psss-info-box, #password').length) return;
	        $(document).unbind('.psss-info-box');
	        $('.psss-info-box').hide();
	    });
	});

	 $(document).ready(function(){
	     $('.text-box a.download-button').on('click', function(e){
	         e.preventDefault();

	         if(iDeviceCheck()){
	             window.location = "https://www.PROJECT.ir/help"
	         } else {
	             window.location = "https://www.PROJECT.ir/signup"
	         }
	     })
	 });
</script>
</body>
</html>
