<!doctype html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8">
		<title>ساخت اپل ایدی | اپفورال</title>
		<meta name="author" value=" Team">
		<meta name="robots" content="INDEX,FOLLOW">

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta property="og:site_name" content="اپفورال"/>
		<meta property="og:title" content="ساخت Apple ID رایگان | اپفورال"/>
		<meta property="og:description" content="ساخت اپل ای دی رایگان و سریع" />
		<meta property="og:url" content="http://id.PROJECT.ir/"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="http://PROJECT.bitbucket.org/PROJECT2-social-icon.png" />

		<link href="http://www.PROJECT.ir" rel="canonical" />
		<link href="images/favicon.ico" rel="icon" />
		<link href="css/style.css" media="all" type="text/css" rel="stylesheet">
		<link href="css/style-single.css" media="all" type="text/css" rel="stylesheet">

		<script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script src="js/analytics.js"></script>
		{% block scripts %}
		{% endblock scripts %}

		<script src="js/script.js"></script>
		<!--[if lte IE 8]>
		<script src="https://www.PROJECT.ir/js/html5shiv.js" type="text/javascript"></script>
		<link href="https://www.PROJECT.ir/css/style-ie.css" media="all" type="text/css" rel="stylesheet">
		<![endif]-->
		{% endblock %}
	</head>
	<body class="single">
		<header>
			<div id="headerfull">
				<div id="head">
					<a href="/" id="headlogo"></a>
					<div id="menu-toggle"><span></span></div>
					<ul id="menu">
						<li><a target="_blank" href="http://PROJECT.ir/">صفحه نخست</a></li>
						<li><a target="_blank" href="http://PROJECT.ir/#problem">مشکل چیست؟</a></li>
						<li><a target="_blank" href="http://PROJECT.ir/#solution">راهکار اپفورال</a></li>
						<li><a target="_blank" href="http://PROJECT.ir/#register">ثبت نام</a></li>
						<li><a target="_blank" href="http://PROJECT.ir/#appsvitrine">برنامه‌های موجود</a></li>
						<li><a target="_blank" href="http://PROJECT.ir/#newsletter">تماس بگیرید</a></li>
						<li><a target="_blank" href="http://PROJECT.ir/blog/">اپلاگ</a></li>
						<li><a target="_blank" href="http://PROJECT.ir/panel/login/">ورود کاربران</a></li>
					</ul>
				</div>
			</div>
			<div class="headerline"></div>
		</header>

		
		<section class="content">
			<section class="single-page-body PROJECT2-page">
				<div class="page-title">ساخت Apple ID رایگان</div>
				{% block body %}{% endblock %}
				<div class="social-box">
					<p>ساخت اپل ایدی رایگان رو به دوستان خود معرفی کنید</p>
					<a href="#" class="facebook" onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fid.PROJECT.ir%2F&t=%D8%A8%D9%88%D8%B3%DB%8C%D9%84%D9%87%20%D8%A7%D9%BE%D9%81%D9%88%D8%B1%D8%A7%D9%84%D8%8C%20Apple%20ID%20%D8%B1%D8%A7%DB%8C%DA%AF%D8%A7%D9%86%20%D8%A8%D8%B3%D8%A7%D8%B2%DB%8C%D8%AF%20%3A)','MyWindow','toolbar=no,width=600,height=400'); return false;"></a>
					<a href="#" class="google" onClick="MyWindow=window.open('https://plus.google.com/share?url=http%3A%2F%2Fid.PROJECT.ir%2F','MyWindow','toolbar=no,width=600,height=400'); return false;"></a>
					<a href="#" class="linkedin" onClick="MyWindow=window.open('http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fid.PROJECT.ir%2F&title=%D8%B3%D8%A7%D8%AE%D8%AA%20Apple%20ID%20%D8%B1%D8%A7%DB%8C%DA%AF%D8%A7%D9%86%20%D8%AF%D8%B1%20%D8%A7%D9%BE%D9%81%D9%88%D8%B1%D8%A7%D9%84&summary=%D8%A8%D9%88%D8%B3%DB%8C%D9%84%D9%87%20%D8%A7%D9%BE%D9%81%D9%88%D8%B1%D8%A7%D9%84%D8%8C%20Apple%20ID%20%D8%B1%D8%A7%DB%8C%DA%AF%D8%A7%D9%86%20%D8%A8%D8%B3%D8%A7%D8%B2%DB%8C%D8%AF%20%3A)&source=http%3A%2F%2Fid.PROJECT.ir%2F','MyWindow','toolbar=no,width=600,height=400'); return false;"></a>
					<a href="#" class="twitter" onClick="MyWindow=window.open('https://twitter.com/intent/tweet?source=http%3A%2F%2Fid.PROJECT.ir%2F&text=%D8%A8%D9%88%D8%B3%DB%8C%D9%84%D9%87%20%D8%A7%D9%BE%D9%81%D9%88%D8%B1%D8%A7%D9%84%D8%8C%20Apple%20ID%20%D8%B1%D8%A7%DB%8C%DA%AF%D8%A7%D9%86%20%D8%A8%D8%B3%D8%A7%D8%B2%DB%8C%D8%AF%20%3A):%20http%3A%2F%2Fid.PROJECT.ir%2F&via=PROJECTHQ','MyWindow','toolbar=no,width=600,height=400'); return false;"></a>
				</div>
			</section>
		</section>

		</section><!--single-page-body-->
		<div class="single-copyright">ساخته شده با<span></span>در تهران</div>
		<script type="text/javascript">
			$('#password').focus(function() {
			    $('.psss-info-box').show();
			    $(document).bind('focusin.psss-info-box click.psss-info-box',function(e) {
			        if ($(e.target).closest('.psss-info-box, #password').length) return;
			        $(document).unbind('.psss-info-box');
			        $('.psss-info-box').hide();
			    });
			});
		</script>
	</body>
</html>
