<header class="page-header">
	<section class="page-top-menu">
		<section class="container">
			<div class="menu-toggle" id="menu_toggle"></div>
			<div class="user-menu">
				<div class="login-button only_loggedout" id="login_button">پنل کاربران<i></i></div>
				<a href="https://PROJECT.ir/panel" class="userislogin only_loggedin" style="display:none">
					<img class="user-avatar" src="images/avatar.png">
					<span>ورود به پنل</span>
				</a>
			</div>
			<a href="#" class="head-logo-link">خانه</a>
			<div class="head-logo"></div>
			<nav class="menu-nav" id="menu_nav">
				<ul>
					<li class="home"><a href="http://PROJECT.ir/">خانه</a></li>
					<li style="display:none"><a href="http://PROJECT.ir/features">امکانات</a></li>
					<li><a href="http://PROJECT.ir/vitrine/">برنامه‌های موجود</a></li>
					<li><a href="http://PROJECT.ir/blog">وبلاگ</a></li>
					<li style="display:none"><a href="http://PROJECT.ir/contact">تماس با ما</a></li>
				</ul>
			</nav>
		</section>
	</section>
	<div class="menu-darkbg" id="menu_darkbg"></div>
</header><!--page-header-->
