{% extends "base.html" %}
{% block scripts %}
<script src="js/formsubmit.js"></script>
{% endblock %}
{% block body %}
<div class="page-body">
	<h2>کاربر گرامی<br>برای دریافت Apple ID خود، فرم زیر را پر کرده و برای ما ارسال کنید. تا دقایقی دیگر اطلاعات Apple ID به ایمیل شما ارسال خواهد شد.</h2>
	<section class="form-col">
		<form id="apple_id_req" method="POST" action="/">
			{{ form.csrf_token }}
			<div class="mod-box">
				<div class="psss-info-box">
					<div class="psss-info">
						<h2>قوانین اپل برای انتخاب پسورد</h2>
						<ul>
							<li>حداقل 8 کاراکتر داشته باشد</li>
							<li>ترکیبی از حروف کوچک و بزرگ انگلیسی باشد/li>
							<li>نباید بیش از دو حرف یکسان متوالی داشته باشد</li>
							<li>همانند نام اپل آی دی نباشد</li>
							<li>جزء رمز‌های معروف نباشد</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<label>ایمیل شما:</label>
					{{ form.apple_id(size=20) }}
				</div>
				<div class="row">
					<label>پسورد انتخابی:</label>
					{{ form.password() }}
				</div>
				<div class="row">
					<label>تکرار پسورد :</label>
					{{ form.confirm() }}
				</div>
				<div class="row">{{ form.recaptcha }}</div>
				<div class="error" style="display: none">همه موارد خواسته شده را با دقت پر کنید</div>
				<div class="row">
					<input type="submit" class="ibtn form-submit" value="ثبت درخواست" disabled="true">
				</div>
				<div class="success" style="display: none">درخواست شما با موفقیت ثبت شد. به زودی ایمیل حاوی اطلاعات ثبت نام برای شما ارسال خواهد شد.</div>
			</div>
			<div class="the-loader" id="loader"><span></span></div>
		</form>
	</section>
</div>
{% endblock %}
