{% extends "base.html" %}
{% block scripts %}
<script src="js/earlypagehandler.js"></script>
{% endblock %}
{% block body %}
<div class="page-body">
  <div class="manual-container" style="margin-top: 50px">
    <div class="content">
      <span class="step">۱</span>
      بر روی دکمهٔ ورود به صفحهٔ ثبت نام کلیک کنید.
    </div>
    <div class="picture">
      <a class="register-form" href="http://PROJECT2.apple.com/account" target="_blank">
        <button class="ibtn">ورود به صفحهٔ ثبت نام اپل‌آیدی</button>
      </a>
    </div>
  </div>
  <div class="manual-container">
    <div class="content">
      <span class="step">۲</span>
      <p>
        در قسمت اول صفحهٔ ثبت نام‌، مشخصات فردی خود را مطابق با تصویر وارد کنید.
      </p>
      <p>
        همچنین توجه داشته باشید که رمز عبور انتخابی شما‌، باید دارای شرایط زیر باشد:
        <ul>
          <li>طول رمز عبور انتخابی باید بیش از ۸ کاراکتر باشد.</li>
          <li>حداقل از یک حرف بزرگ و یک حرف کوچک انگلیسی در آن استفاده شده باشد.</li>
          <li>حداقل از یک رقم در آن استفاده شده باشد.</li>
        </ul>
      </p>
      <p>
        تاریخ تولد خود را به صورت «سال/روز/ماه» وارد کنید. می‌توانید از
        <a href="http://time.ir">این سرویس</a>
        برای تبدیل تاریخ تولد خود به میلادی استفاده کنید.
      </p>
    </div> <!-- div.content -->
    <div class="picture">
      <img alt="قسمت اول ثبت نام اپل‌آیدی" src="images/manual/first.png"/>
    </div> <!-- div.picture -->
  </div> <!-- div.manual-container -->
  <div class="manual-container">
    <div class="content">
      <span class="step">۳</span>
      در قسمت دوم ثبت نام‌، به سه سوال انتخابی خودتان جواب معنی‌دار بدهید. توجه داشته باشید
      که این سوال‌ها و جواب‌هایشان در زمان بازیابی رمز عبورتان از شما پرسیده خواهد شد. 
    </div> <!-- div.content -->
    <div class="picture">
      <img alt="قسمت دوم ثبت نام اپل‌آیدی" src="images/manual/second.png"/>
    </div> 
  </div> <!-- div.manual-container -->
  <div class="manual-container">
    <div class="content">
      <span class="step">۴</span>
      قسمت سوم ثبت نام‌، نیاز به تغییر خاصی ندارد‌، توجه داشته باشید که از منوی کشویی
      United States
      انتخاب شده باشد. در پایین فرم نیز مقدار نمایش داده شده در تصویر کپچا را وارد کنید. 
    </div> <!-- div.content -->
    <div class="picture">
      <img alt="قسمت سوم ثبت نام اپل‌آیدی" src="images/manual/third.png"/>
    </div>
  </div> <!-- div.manual-container -->
  <div class="manual-container">
    <div class="content">
      <span class="step">۵</span>
      در پایان فرم‌، دکمه
      Continue
      را فشار دهید. چنانچه مراحل فوق را به طور کاملا درست مطابق با راهنما انجام
      داده باشید‌، فرم ورود کد تایید ثبت نام به نمایش در خواهد آمد.
    </div> <!-- div.content -->
    <div class="picture">
      <img alt="قسمت پایانی ثبت نام اپل‌آیدی" src="images/manual/continue.png"/>
    </div>
  </div> <!-- div.manual-container -->
  <div class="manual-container">
    <div class="content">
      <span class="step">۶</span>
      اپل‌، ایمیلی حاوی یک کد ۶ رقمی جهت تایید مالکیت آدرس ایمیل‌تان به شما ارسال می‌کند. 
    </div> <!-- div.content -->
    <div class="picture">
      <img alt="ایمیل تایید ثبت نام" src="images/manual/email.png"/>
    </div>
  </div> <!-- div.manual-container -->
  <div class="manual-container">
    <div class="content">
      <span class="step">۷</span>
      کد دریافت شده در مرحلهٔ قبل را در فرم نمایش داده شده وارد کنید.
      و در آخر روی
      Verify
      کلیک کنید.
      اپل آیدی شما آماده است. 
    </div> <!-- div.content -->
    <div class="picture">
      <img alt="تایید ثبت نام" src="images/manual/confirmation.png"/>
    </div>
  </div> <!-- div.manual-container -->
</div>
{% endblock %}
