<aside class="lightbox" id="lightbox">
	<div class="dark-bg" id="lightbox_bg"></div>
	<div class="light-content">
		<span class="close" id="lightbox_close"></span>
		<div class="the-box login-box">
			<div class="box-title">ورود به اپفورال</div>
			<form action="/panel/login/" method="post">
        <div class="row">
            <label>ایمیل</label>
            <input name="username" type="email" placeholder="ایمیل" class="input">
        </div>
        <div class="row">
            <label>رمز ورود</label>
            <input name="password" type="password" placeholder="رمز ورود" class="input">
        </div>
        <div class="row">
            <input type="submit" value="ورود به پنل کاربران" class="ibtn login-submit">
        </div>
        <div class="row links">
            <a href="https://www.PROJECT.ir/signup/">از اپفورال استفاده نمی کنید؟ ثبت نام کنید.</a><br>
            <a href="https://www.PROJECT.ir/panel/reset/">رمز ورود خود را فراموش کرده اید؟</a><br>
        </div>
      </form>
		</div>
	</div><!--light-content-->
</aside><!--lightbox-->
